<div class="task-card-container">
  <div class="task-card">
    <h2>Create Task</h2>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <!-- Task Title -->
      <div class="form-group">
        <label for="taskTitle">Task Title</label>
        <input
          id="taskTitle"
          formControlName="taskTitle"
          type="text"
          placeholder="Enter task title"
          class="form-control"
          required
        />
      </div>

      <!-- Task Description -->
      <div class="form-group">
        <label for="taskDescription">Task Description</label>
        <textarea
          id="taskDescription"
          formControlName="taskDescription"
          placeholder="Enter task description"
          class="form-control"
          rows="4"
        ></textarea>
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <button type="submit" [disabled]="taskForm.invalid" class="btn btn-primary">
          Create Task
        </button>
      </div>
    </form>
  </div>
</div>


<div *ngIf="tasks.length > 0; else noTasks" class="task">
  <h3>All Tasks</h3>
  <ul>
    <li *ngFor="let task of tasks">
      <h4>{{ task.name }}</h4>
      <p>{{ task.description }}</p>
      <p>Status: {{ task.status }}</p>
      <p>Created At: <span class="bold">{{ task.createdAt | date: 'dd.MM.yyyy, HH:mm:ss' }}</span></p>
      <p>Updated At: <span class="bold">{{ task.updatedAt | date: 'dd.MM.yyyy, HH:mm:ss' }}</span></p>
      <p>Blocked: <span class="bold">{{ task.blocked ? 'Yes' : 'No' }}</span></p>

      <!-- Display Dependencies if any -->
      <div *ngIf="task.dependencies && task.dependencies.length > 0">
        <h5>Dependencies:</h5>
        <ul>
          <li *ngFor="let dep of getTaskDependencies(task)">
            {{ dep.name }} - Status: {{ dep.status }}
          </li>
        </ul>
      </div>

      <label for="taskStatus">Change Status:</label>
      <select
        id="taskStatus"
        [(ngModel)]="task.status"
        (change)="changeTaskStatus(task)"
        class="form-control"
      >
        <option value="Pending">Pending</option>
        <option value="In Progress">In Progress</option>
        <option value="Finished">Finished</option>
      </select>
    </li>
  </ul>
</div>

<ng-template #noTasks>
  <p>No tasks available.</p>
</ng-template>

