<div class="task-card-container">
  <div class="task-card">
    <h2>Create Task</h2>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <!-- Task Title -->
      <div class="form-group">
        <label for="taskTitle">Task Title</label>
        <input
          id="taskTitle"
          formControlName="taskTitle"
          type="text"
          placeholder="Enter task title"
          class="form-control"
          required
        />
      </div>

      <!-- Task Description -->
      <div class="form-group">
        <label for="taskDescription">Task Description</label>
        <textarea
          id="taskDescription"
          formControlName="taskDescription"
          placeholder="Enter task description"
          class="form-control"
          rows="4"
        ></textarea>
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <button type="submit" [disabled]="taskForm.invalid" class="btn btn-primary">
          Create Task
        </button>
      </div>
    </form>
  </div>
</div>


<div *ngIf="tasks.length > 0; else noTasks" class="task">
  <h3>All Tasks</h3>
  <ul>
    <li *ngFor="let task of tasks">
      <h4>{{ task.name }}</h4>
      <p>{{ task.description }}</p>
      <p>Status: {{ task.status }}</p>
      <p>Created At: <span class="bold">{{ task.createdAt | date }}</span></p>
      <p>Updated At:<span class="bold"> {{ task.updatedAt | date }}</span></p>
      <p>Blocked:<span class="bold"> {{ task.blocked ? 'Yes' : 'No' }}</span></p>
      <div>
        <input [(ngModel)]="userIdsMap[task.id]" placeholder="Enter user ID" />
        <button (click)="addUserToTask(task)">Add User</button>
        <button (click)="removeUserFromTask(task)">Remove User</button>
      </div>
    </li>
  </ul>
</div>

<ng-template #noTasks>
  <p>No tasks available.</p>
</ng-template>
