<div class="task-card-container">
  <div class="task-card">
    <h2>Create Task</h2>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="taskTitle">Task Title</label>
        <input id="taskTitle" formControlName="taskTitle" type="text" placeholder="Enter task title" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="taskDescription">Task Description</label>
        <textarea id="taskDescription" formControlName="taskDescription" placeholder="Enter task description" class="form-control" rows="4"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" [disabled]="taskForm.invalid" class="btn btn-primary">Create Task</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="tasks.length > 0; else noTasks" class="task">
  <h3>All Tasks</h3>
  <ul>
    <li *ngFor="let task of tasks">
      <div class="task-card">
        <h4>{{ task.name }}</h4>
        <p>{{ task.description }}</p>
        <p>Status: {{ task.status }}</p>
        <p>Created At: <span class="bold">{{ task.createdAt | date: 'dd.MM.yyyy, HH:mm:ss' }}</span></p>
        <p>Updated At: <span class="bold">{{ task.updatedAt | date: 'dd.MM.yyyy, HH:mm:ss' }}</span></p>
        <p>Blocked: <span class="bold">{{ task.blocked ? 'Yes' : 'No' }}</span></p>

        <div *ngIf="isManager" class="user-management">
          <label for="userSearch">Search Users:</label>
          <input id="userSearch" [(ngModel)]="searchTerm" (input)="filterUsers(task.id)" class="form-control" placeholder="Search by email" />

          <div class="filtered-users">
            <div *ngFor="let user of filteredUsers[task.id]">
              <span>{{ user.email }}</span>
              <button (click)="addUserToTask(task, user)">Add</button>
            </div>
          </div>

          <h5>Assigned Members:</h5>
          <ul>
            <li *ngFor="let member of taskMembers[task.id]">
              <span>{{ member.email }}</span>
              <button (click)="removeUserFromTask(task, member)">Remove</button>
            </li>
          </ul>
        </div>


        <label for="taskStatus">Change Status:</label>
        <select id="taskStatus" [(ngModel)]="tempStatusMap[task.id]"
                (change)="changeTaskStatus(task)" class="form-control">
          <option value="Pending">Pending</option>
          <option value="In Progress">In Progress</option>
          <option value="Finished">Finished</option>
        </select>
      </div>
    </li>
  </ul>
</div>

<ng-template #noTasks>
  <p>No tasks available.</p>
</ng-template>
