.env
client/ui-trello/src/environments
server/task-service/app.log
server/project-service/app.log
server/user-service/app.log
server/workflow-service/app.log
server/notification-service/app.log
server/analytic-service/app.log
