
.btn-primary {
  margin-top: 2%;
  background-color: var(--primary-color)!important;
  border-color: var(--primary-color);

}



.btn-primary:hover {
  background-color: var(--secondary-color)!important;
  border-color: var(--secondary-color);

}

.container{
  margin-top: 10%;
}
