  <div class="form">
    <form method="post" action="">

      <div class="form-group">

        <label>Project name:</label>
        <input type="text" value="" name="projectName" class="form-control"
               aria-describedby="emailHelp">
        <label>End date:</label>
        <input type="date" value="" name="endDate" class="form-control" placeholder="yyyy-mm-dd"
               aria-describedby="emailHelp">
        <label>Min people on project:</label>
        <input type="number" value="" min="1" name="minPeople" class="form-control"
               aria-describedby="emailHelp">
        <label>Max people on project:</label>
        <input type="number" value="" min="1" max="100" name="maxPeople" class="form-control"
               aria-describedby="emailHelp">
      </div>

      <hr class="devide-line">

      <button type="submit" class="btn">Create project</button>

    </form>
  </div>

  <br /><br /><br /><br />







