<app-menu></app-menu>

  <div class="form"  [@flyInOut]>
    <form [formGroup]="newProjectForm" (ngSubmit)="onSubmit()">

      <div class="form-group">

        <label>Project name:</label>
        <input type="text"  id="project_name"  formControlName="project_name" class="form-control"
               >
        <div *ngIf="newProjectForm.get('project_name')?.hasError('required') && newProjectForm.get('project_name')?.touched">
          <p class="error-message">Project name is required.</p>
        </div>
        <div *ngIf="newProjectForm.get('project_name')?.hasError('minlength') && newProjectForm.get('project_name')?.touched" class="error-message">
          Project name must be at least 3 characters long.
        </div>
        <label>End date:</label>
        <input type="date" id="end_date" formControlName="end_date" class="form-control" placeholder="yyyy-mm-dd"
              >
        <div *ngIf="newProjectForm.get('end_date')?.hasError('required') && newProjectForm.get('end_date')?.touched">
          End date is required.
        </div>
        <div *ngIf="newProjectForm.get('end_date')?.hasError('futureDate') && newProjectForm.get('end_date')?.touched">
          End date must be a future date.
        </div>
        <label>Min people on project:</label>
        <input type="number"  id="min_members" formControlName="min_members"  min="1" class="form-control"
              >
        <div *ngIf="newProjectForm.get('min_members')?.hasError('required') && newProjectForm.get('min_members')?.touched">
          Minimum members is required.
        </div>
        <label>Max people on project:</label>
        <input type="number" id="max_members" formControlName="max_members"  min="1" max="100" class="form-control"
               >
        <div *ngIf="newProjectForm.get('max_members')?.hasError('required') && newProjectForm.get('max_members')?.touched">
          Maximum members is required.
        </div>
        <label>Select manager:</label>
        <select id="manager" formControlName="manager" class="form-control">
          <option *ngFor="let manager of managers" [value]="manager.email">
            {{ manager.email }}
          </option>
        </select>
        <div *ngIf="newProjectForm.get('manager')?.hasError('required') && newProjectForm.get('manager')?.touched">
          Project must have manager.
        </div>
      </div>

      <hr class="devide-line">

      <button type="submit" class="btn">Create project</button>

    </form>

  </div >

  <br /><br /><br /><br />

<div *ngFor="let project of projects">
  <div class="card">
    <div class="card-header">
      Project info:
    </div>
    <div class="card-body">
      <h4 class="card-title">Name: {{ project.name }}</h4>
      <p class="card-text">Max people: {{ project.max_members }}</p>
      <p class="card-text">Min people: {{ project.min_members }}</p>
      <p class="card-text">End Date: {{ project.end_date }}</p>
      <p class="card-text">Manager: {{ project.manager }}</p>
      <button class="btn btn-success mb-3" (click)="manageMembersToProject(project.id)">Manage members</button>
    </div>
  </div>
</div>


  <button class="btn btn-success mb-3" (click)="navigateToRegistration()">Register</button>
