
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" >
    <div *ngIf="loginForm.get('email')?.touched">
      <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</p>
      <p *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</p>
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" required>
    <div *ngIf="loginForm.get('password')?.touched">
      <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</p>
    </div>
  </div>

  <div>
    <small style="text-align: center">If you don`t have an account, <a routerLink="/register">register</a></small>
  </div>
  <div>
  <small style="text-align: center"><a routerLink="/recovery">Forgot password?</a></small>
</div>
  <div>
    <small style="text-align: center">Or maybe you want to log in with a <a routerLink="/magic">link 🪄</a></small>
  </div>
  <div style="text-align: center;">
    <button class="btn" type="submit" [disabled]="!loginForm.valid">Login</button>
  </div>
</form>
