<app-menu></app-menu>
<h1 class="main-text">{{ project?.name | uppercase }}</h1>
<p class="main-text">Min Members: {{ minMembers }}</p>
<p class="main-text">Max Members: {{ maxMembers }}</p>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="project-members border rounded p-3">
        <h4 class="main-text">Project Members</h4>
        <div *ngFor="let member of projectMembers" class="user bg-light border rounded mb-2 p-2">
          {{ member.email }}
          <button class="btn btn-danger btn-sm float-end remove-btn" (click)="removeMember(member.id)">Remove</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="available-users border rounded p-3">
        <h3 class="main-text">All Users</h3>
        <div class="search-bar mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search for users..."
            [(ngModel)]="searchTerm"
            (input)="filterUsers()"
          />
        </div>
        <div *ngFor="let user of filteredUsers" class="user bg-light border rounded mb-2 p-2">
          {{ user.email }}
          <button
            class="btn btn-primary btn-sm float-end"
            (click)="addMember(user)"
            [disabled]="isFull() || isUserAssigned(user)"
          >
            Assign
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>
<br>
<button class="btn btn-success mb-3" (click)="addNewProject()">Add new project</button>
<br>
<button class="btn btn-success mb-3" (click)="addNewTask(projectId)">Add new task for this project</button>
