



<div class="navbar-container">
  <app-menu></app-menu>
  <!-- Jednostavno dugme za otvaranje modala -->
  <div class="create-project-btn-container">
    <button class="btn btn-primary" (click)="openAddProjectModal()">
      Create Project
    </button>
  </div>
</div>


<div class="projekat-container">





  <!-- Modal za dodavanje projekta -->
  <div class="modal" tabindex="-1"
       [class.show]="showAddProject"
       [style.display]="showAddProject ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add project</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeAddProjectModal()"></button>
        </div>
        <div class="modal-body">

          <app-add-project></app-add-project>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeAddProjectModal()">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Ako nema projekata -->
  <div class="card" *ngIf="projects?.length === 0">
    <p>No projects yet.</p>
  </div>

  <!-- Prikazivanje projekata u gridu -->
  <div class="projects-container">
    <div class="card" *ngFor="let project of projects">
      <div class="card-header">
        Project info:
      </div>
      <div class="card-body">
        <h4 class="card-title">Name: {{ project.name }}</h4>
        <p class="card-text">Max people: {{ project.max_members }}</p>
        <p class="card-text">Min people: {{ project.min_members }}</p>
        <p class="card-text">End Date: {{ project.end_date }}</p>
        <p class="card-text">Manager: {{ project.manager }}</p>
        <button class="btn btn-success mb-3" (click)="manageMembersToProject(project.id)">Manage members</button>
      </div>
    </div>
  </div>



  <!--  <app-add-task></app-add-task>-->

<!--  <app-member-addition></app-member-addition>-->

</div>

