/* You can add global styles to this file, and also import other style files */

body{
  background-color: var(--secondary-color);
}

:root {
  /*--primary-color: #183446;*/
  /*--hover-background-color: white;*/
  /*--secondary-color: #0090C1;*/
  /*--tercial-color: #046E8F;*/


  --primary-color: #136F63;
  --hover-background-color: white;
  --secondary-color: #22AAA1;
  --tercial-color: #041B15;
  --red-primary-color: #F15946;
  --red-secondary-color: #ED6A5A;
}


.toast-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  text-align: center;
}

.toast-success {
  background-color: var(--primary-color) !important;
  color: var(--hover-background-color) !important;
  padding: 20px;
  border-radius: 5px;
}

.toast-error {
  background-color: var(--red-primary-color) !important;
  color: var(--hover-background-color) !important;
  padding: 20px;
  border-radius: 5px;

}

.toast-info {
  background-color: var(--primary-color) !important;
  color: var(--hover-background-color) !important;
  padding: 20px;
  border-radius: 5px;

}

.toast-warning {
  background-color: #ff9800 !important;
  color: var(--hover-background-color) !important;
  border-radius: 5px;

}
