<p>project-info works!</p>




<button class="btn btn-success mb-3" (click)="openAddTaskModal()">Add new task for this project</button>

<div class="modal" tabindex="-1"
     [class.show]="showAddTask"
     [style.display]="showAddTask ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Task</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAddTaskModal()"></button>
      </div>
      <div class="modal-body">
        <app-add-task [projectId]="projectId"></app-add-task>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeAddTaskModal()">Close</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="tasks.length > 0; else noTasks" class="task-list">
  <div *ngFor="let task of tasks" class="task-card" (click)="selectTask(task)">
    <h4>{{ task.name }}</h4>
  </div>

  <div *ngIf="selectedTask" class="task-details-modal">
    <div class="task-details">
      <div class="task-header">
        <!-- Naziv taska -->
        <h4>{{ selectedTask.name }}</h4>

        <button type="button" class="btn btn-secondary">Member</button>
      </div>
      <p>{{ selectedTask.description }}</p>
      <p>Status: {{ selectedTask.status }}</p>
      <p>Created At: <span class="bold">{{ selectedTask.createdAt | date }}</span></p>
      <p>Updated At: <span class="bold">{{ selectedTask.updatedAt | date }}</span></p>
      <p>Blocked: <span class="bold">{{ selectedTask.blocked ? 'Yes' : 'No' }}</span></p>
      <button (click)="closeTaskDetails()">Close</button>
    </div>
  </div>
</div>

<ng-template #noTasks>
  <p>No tasks available.</p>
</ng-template>

