<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My App</a>
    <button
      class="btn btn-outline-primary me-2"
      (click)="navigateToChangePassword()"
    >
      Change Password
    </button>

    <button
      class="btn btn-outline-primary me-2"
      (click)="notifications()"
    >
      Notifications
    </button>
    <div class="d-flex ms-auto">
      <button class="btn btn-outline-danger me-2" (click)="logout()">
        Logout
      </button>
      <button class="btn btn-outline-danger" (click)="deleteAccount()">
        Delete Account
      </button>
    </div>
  </div>
</nav>
