.q-box{
  position: fixed;
  top: 40%;
  left: 25%;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #333333;
  border-radius: 5px;
  z-index: 9999;
  box-shadow: 0 0 10px #333333;
  outline: none;

}

.navbar{
  background-color: var(--tercial-color)!important;
}
.navbar-brand{
  color: white;
}
.q-text {
  margin-top: 5%;
  text-align: center;
  color: var(--hover-background-color);
}

.button-container {
  justify-content: center;
  gap: 10px;
}

.btn-outline-danger{
  color: var(--red-primary-color);
  border-color: var(--red-primary-color);
}

.btn-outline-danger:hover{
  background-color: var(--red-primary-color);
  color: #121420;
}



