<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My App</a>
    <button
      class="btn btn-outline-primary me-2"
      (click)="navigateToChangePassword()"
    >
      Change Password
    </button>

    <button
      class="btn btn-outline-secondary me-3"
      (click)="navigateToPasswordRecovery()"
    >
      Change Password
    </button>
    <button
      class="btn btn-outline-danger ms-auto"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</nav>
