<app-menu></app-menu>
<div class="container">
  <div class="row">
    <div class="">
      <form (ngSubmit)="changePassword()">
        <!-- Old Password -->
        <div class="form-group">
          <label for="oldPassword">Old Password</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="oldPassword"
            placeholder="Enter your old password"
            [(ngModel)]="oldPassword"
            name="oldPassword"
            required
          />
        </div>
        <br />

        <!-- New Password -->
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="newPassword"
            placeholder="Enter your new password"
            [(ngModel)]="newPassword"
            name="newPassword"
            (input)="validatePassword()"
            required
          />
          <!-- Password Validation Messages -->
          <div *ngIf="newPassword">
            <p [class.text-success]="passwordValidation.length" [class.text-danger]="!passwordValidation.length">
              ✔️ Minimum 8 characters
            </p>
            <p [class.text-success]="passwordValidation.uppercase" [class.text-danger]="!passwordValidation.uppercase">
              ✔️ At least one uppercase letter
            </p>
            <p [class.text-success]="passwordValidation.lowercase" [class.text-danger]="!passwordValidation.lowercase">
              ✔️ At least one lowercase letter
            </p>
            <p [class.text-success]="passwordValidation.number" [class.text-danger]="!passwordValidation.number">
              ✔️ At least one number
            </p>
            <p [class.text-success]="passwordValidation.specialChar" [class.text-danger]="!passwordValidation.specialChar">
              ✔️ At least one special character (!#$%^&*)
            </p>
          </div>
        </div>
        <br />

        <!-- Repeat New Password -->
        <div class="form-group">
          <label for="repeatNewPassword">Repeat New Password</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="repeatNewPassword"
            placeholder="Repeat your new password"
            [(ngModel)]="repeatNewPassword"
            name="repeatNewPassword"
            required
          />
          <div *ngIf="repeatNewPassword && newPassword !== repeatNewPassword" class="text-danger">
            Passwords do not match
          </div>
        </div>
        <br />
        <div>
          <input type="checkbox" (change)="toggleShowPassword()"/><small> Show Password </small>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" [disabled]="!isPasswordValid()">Change Password</button>
      </form>
    </div>
  </div>
</div>
