.row{
  background-color: var(--hover-background-color);
  padding: 40px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  border-radius: 5px;
}
.btn{
  background-color: var(--primary-color);
  color: white;
  min-width: 100%;
  width: 5%;
  padding: 10px;
  border: none;
}
.btn:hover {
  background-color: var(--hover-background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn:focus {
  color: whitesmoke;
  box-shadow: 0 0 10px var(--tercial-color);
  background-color: var(--tercial-color);
  border: none;
}
