.custom-read-badge {
  background-color: #28a745;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.custom-unread-badge {
  background-color: #ffc107;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.read-notification {
  background-color: rgba(60, 60, 60, 0.15);
  opacity: 0.6;
  color: #6c757d;
}

.read-notification .notification-message p,
.read-notification .notification-message small {
  color: #6c757d;
}


.list-group-item:hover {
  background-color: #e2e6ea;
}

.read-notification:hover {
  opacity: 0.8;
  background-color: #e9ecef;
}

.list-group-item {
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 120px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  line-height: 1.5;
}
